<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="card p-fluid">
    <div class="field grid">
      <label htmlfor="name" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
      <div class="col-12 md:col-6"><input aria-label="Name" pInputText id="name" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.name.errors }" formControlName="name"></div>
    </div>
    <div class="field grid">
      <label htmlfor="lastName" class="col-12 mb-2 md:col-2 md:mb-0">Category</label>
      <div class="col-12 md:col-6">
        <p-dropdown [options]="categories"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.categoryId.errors }" appendTo="body"
          optionLabel="name" optionValue="id" [filter]="true" placeholder="Select Category"
          formControlName="categoryId">
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="mt-5"></div>
  <div class="flex justify-content-end">
    <button type="button" pButton class="mr-2" (click)="closeDialog()">Close</button>
    <button type="submit" pButton>Save</button>
  </div>
</form>