<div class="card">
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <x-table [cols]="cols" [dataKey]="'id'" [name]="'Categories'" [rows]="rows"
        [templates]="[{type:'body',template:bodyTemplate}]">
    </x-table>

    <ng-template let-row="row" pTemplate="body" let-columns="columns" #bodyTemplate>
        <tr>
            <td *ngFor="let col of columns" isEllipsisActive>
                <quiz-app-three-dot-menu *ngIf="col.field === 'action'" (clickFunction)="openMenu($event, cm, row)">
                </quiz-app-three-dot-menu>
                <span *ngIf="col.field !== 'action'">{{row[col.field]}}</span>
            </td>
        </tr>
    </ng-template>
</div>