<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <p>
      <input id="name" type="text" placeholder="Name"
        [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.name.errors }" formControlName="name"
        class="p-inputtext p-component p-element w-full md:w-25rem">
    </p>
  </div>

  <div class="mt-5"></div>
  <div class="flex justify-content-end">
    <button type="button" pButton class="mr-2" (click)="closeDialog()">Close</button>
    <button type="submit" pButton>Save</button>
  </div>
</form>