<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="card p-fluid">
    <div class="field grid">
      <label htmlfor="name" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
      <div class="col-12 md:col-6"><input aria-label="Name" pInputText id="name" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.name.errors }" formControlName="name"></div>
    </div>
  </div>

  <div class="mt-5"></div>
  <div class="flex justify-content-end">
    <button type="button" pButton class="mr-2" (click)="closeDialog()">Close</button>
    <button type="submit" pButton>Save</button>
  </div>
</form>