<div class="card">
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <x-table [cols]="cols" [dataKey]="'id'" [captionTemplate]="captionButtonTemplate" [name]="'Roles'" [rows]="rows"
        [templates]="[{type:'body',template:bodyTemplate}]">
    </x-table>
    <ng-template #captionButtonTemplate>
        <button type="button" class="p-button p-button-icon-only p-button-rounded" pTooltip="Add New Role"
            (click)="onAdd()" tooltipPosition="top">
            <i class="pi pi-plus"></i>
        </button>
    </ng-template>
    <ng-template let-row="row" pTemplate="body" let-columns="columns" #bodyTemplate>
        <tr>
            <td *ngFor="let col of columns" isEllipsisActive>
                <quiz-app-three-dot-menu *ngIf="col.field === 'action'" (clickFunction)="openMenu($event, cm, row)">
                </quiz-app-three-dot-menu>
                <span *ngIf="col.field !== 'action'">{{row[col.field]}}</span>
            </td>
        </tr>
    </ng-template>
</div>
<p-sidebar [style]="{width:'50%'}" [(visible)]="displaySidebar" *ngIf="displaySidebar" position="right">
    <quiz-app-role-form [action]="action" (onAddUpdate)="onAddUpdate($event)" [selectedRow]="selectedRow">
    </quiz-app-role-form>
</p-sidebar>