<div class="layout-topbar">
    <div class="topbar-start">
        <button type="button" class="topbar-menubutton p-link p-trigger" appSidebarToggle>
            <i class="pi pi-bars"></i>
        </button>

        <nav class="layout-breadcrumb">
            <ol>
                <li class="ng-star-inserted">Quiz Dashboard</li>
            </ol>
        </nav>
    </div>
    <div class="topbar-end">
        <ul class="topbar-menu">
            <!-- <li class="topbar-search">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pinputtext="" placeholder="Search"
                        class="p-inputtext p-component p-element w-12rem sm:w-full">
                </span>
            </li> -->
            <li class="topbar-profile">
                <button type="button" class="p-link"><img src="assets/images/avatar.png" alt="Profile"></button>
            </li>
        </ul>
    </div>
</div>