<ngx-ui-loader></ngx-ui-loader>
<p-toast [preventOpenDuplicates]="true" [baseZIndex]="1001"></p-toast>
<div
    class="layout-container layout-light layout-colorscheme-menu layout-static layout-static-inactive p-ripple-disabled">
    <quiz-app-sidebar *ngIf="appLayout"></quiz-app-sidebar>
    <div [ngClass]="{'layout-content-wrapper': appLayout}">
        <quiz-app-header *ngIf="appLayout"></quiz-app-header>
        <div [ngClass]="{'layout-content': appLayout}">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <quiz-app-footer *ngIf="appLayout"></quiz-app-footer> -->
</div>