<span class="text-color-secondary font-medium">{{action === 'add' ? 'Add':'Edit'}} Role</span>
<form class="mt-2" [formGroup]="roleForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="card p-fluid">
    <div class="field grid">
      <label htmlfor="name" class="col-12 mb-2 md:col-4 md:mb-0">Role Name</label>
      <div class="col-12 md:col-8"><input aria-label="Role Name" pInputText id="name" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.name.errors }" formControlName="name">
      </div>
    </div>
    <div class="field grid">
      <label htmlfor="lastName" class="col-12 mb-2 md:col-4 md:mb-0">Permissions</label>
      <div class="col-12 md:col-8">
        <!-- <div class="select_all pt-2 pb-2 pe-3 ps-3 bg-primary" >
          <label for="select_all_{{role.roleuuid}}" class="text-white">
            <p-checkbox [(ngModel)]="selectAll" [binary]="true" label="Select all" (onChange)="selectUnSelectAll()" [disabled]="role['role-name'] == disabledRolePermission"></p-checkbox>
          </label>
        </div> -->

        <p-tree [value]="permissions" selectionMode="checkbox" [(selection)]="selectedPermissions">
          <ng-template let-node pTemplate="default">
            <span [pTooltip]="node.description"> {{ node.label}}</span>
          </ng-template>
        </p-tree>
      </div>
    </div>
  </div>
  <div class="mt-5"></div>
  <div class="flex justify-content-end">
    <button type="submit" pButton>Save</button>
  </div>
</form>