<span class="text-color-secondary font-medium">{{action === 'add' ? 'Add':'Edit'}} User</span>
<form class="mt-2" [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="card p-fluid">
    <div class="field grid">
      <label htmlfor="firstName" class="col-12 mb-2 md:col-4 md:mb-0">First Name</label>
      <div class="col-12 md:col-8"><input aria-label="First Name" pInputText id="firstName" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.firstName.errors }"
          formControlName="firstName"></div>
    </div>
    <div class="field grid">
      <label htmlfor="lastName" class="col-12 mb-2 md:col-4 md:mb-0">Last Name</label>
      <div class="col-12 md:col-8"><input aria-label="Last Name" pInputText id="lastName" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.lastName.errors }" formControlName="lastName">
      </div>
    </div>

    <div class="field grid">
      <label htmlfor="username" class="col-12 mb-2 md:col-4 md:mb-0">Username</label>
      <div class="col-12 md:col-8">
        <input aria-label="Username" autocomplete="new-username" pInputText id="username" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.username.errors }" formControlName="username">
      </div>
    </div>
    <div class="field grid">
      <label htmlfor="email" class="col-12 mb-2 md:col-4 md:mb-0">Email</label>
      <div class="col-12 md:col-8"><input aria-label="Email" pInputText id="email" type="text"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.email.errors }" formControlName="email"></div>
    </div>
    <div class="field grid">
      <label htmlfor="password" class="col-12 mb-2 md:col-4 md:mb-0">Password</label>
      <div class="col-12 md:col-8">
        <p-password formControlName="password" value="" autocomplete="new-password">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <!-- <input aria-label="Password" pPassword id="password" type="password"
          [ngClass]="{ 'ng-invalid ng-dirty': isSubmitted && formControls.password.errors }" formControlName="password"> -->
      </div>
    </div>
  </div>
  <div class="mt-5"></div>
  <div class="flex justify-content-end">
    <!--  <button type="button" pButton class="mr-2" (click)="closeDialog()">Close</button> -->
    <button type="submit" pButton>Save</button>
  </div>
</form>